<div class="container mx-auto p-4">
  <header
    class="flex items-center justify-center flex-col mt-3"
    data-aos="zoom-in-down"
    data-aos-easing="linear"
    data-aos-duration="1800"
  >
    <img
      class="mix-blend-luminosity"
      src="../../../assets/imgs/logo.png"
      alt="logo"
    />
    <h4 class="my-4 text-xl">Qual personagem do Dragon Ball você seria?</h4>
  </header>
  <!-- Exibe o quiz -->
  <div *ngIf="!result">
    <div *ngIf="quiz && quiz.questions.length > 0">
      <div *ngIf="currentQuestionIndex < quiz.questions.length">
        <div class="card my-5">
          <h3
            class="bg-cyan-300 shadow-md shadow-orange-600 p-5 text-center rounded-md text-lg text-slate-700 font-semibold mb-3"
            data-aos="flip-down"
            data-aos-easing="ease-in-sine"
            data-aos-duration="1500"
          >
            {{ quiz.questions[currentQuestionIndex].question }}
          </h3>
          <div class="flex flex-col space-y-2">
            <button
              *ngFor="
                let option of quiz.questions[currentQuestionIndex].options
              "
              class="btn bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded hover:scale-[1.02] transition-all ease-in focus:outline-none focus:shadow-outline"
              data-aos="fade-zoom-in-down"
              data-aos-easing="ease-in-sine"
              data-aos-duration="1500"
              (click)="
                setAnswer(quiz.questions[currentQuestionIndex].id, option.alias)
              "
            >
              {{ option.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Exibe o resultado -->
  <div class="text-center" *ngIf="result">
    <h3 class="text-2xl text-white/90 font-semibold mb-3 text-gray-800">
      Resultado do Quiz
    </h3>
    <img
      [defaultImage]="'path_to_your_default_image_placeholder'"
      [errorImage]="result.errorImage"
      [lazyLoad]="result.image"
      alt="Imagem do resultado"
      class="mx-auto object-cover rounded-lg shadow-md shadow-cyan-300 w-[300px] h-[300px]"
    />

    <p class="text-green-600 mt-4 text-lg font-medium">
      {{ result.description }}
    </p>

    <!-- Botão para resetar o quiz -->
    <button
      class="mt-4 btn bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded hover:scale-[1.02] transition-all ease-in focus:outline-none focus:shadow-outline"
      (click)="resetQuiz()"
    >
      Resetar
    </button>
  </div>
</div>
