/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background: #000 url('./assets/imgs/bg.jpg') center/cover no-repeat;
  transition: all 0.7s ease;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}